[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.4"
fastapi = "~=0.74.1"
freezegun = "*"
pydantic = "~=1.9.0"
pytest = "==7.0.1"
uvicorn = "~=0.17.5"
babel = "*"
python-dotenv = "*"
prometheus-fastapi-instrumentator = "*"
python-json-logger = "*"
boto3 = "*"
aiofiles = "*"
xmltodict = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
invoke = "*"

[requires]
python_version = "3.9"
