[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "==8.0.4"
fastapi = "~=0.75.0"
freezegun = "*"
pydantic = "~=1.9.0"
pytest = "==7.1.1"
uvicorn = "~=0.17.5"
babel = "*"
python-dotenv = "*"
prometheus-fastapi-instrumentator = "*"
python-json-logger = "*"
boto3 = "*"
aiofiles = "*"
xmltodict = "*"
pyhumps = "*"
requests = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
sqlalchemy-utils = "*"
fastapi-versioning = "*"
rq = "*"
redis = "*"
opyoid = "*"
injector = "*"
orjson = "*"

[dev-packages]
pytest = "*"
flake8 = "*"
invoke = "*"
xmldiff = "*"
requests = "*"
pytest-frozen-uuids = "*"
pytest-pgsql = "*"
pytest-asyncio = "*"

[requires]
python_version = "3.9"
