[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
erica = {path = ".", editable = true}
click = "==8.1.3"
fastapi = "~=0.79.0"
freezegun = "*"
pydantic = "~=1.9.2"
pytest = "==7.1.2"
uvicorn = "~=0.18.2"
babel = "*"
python-dotenv = "*"
prometheus-fastapi-instrumentator = "==5.8.1"
python-json-logger = "*"
boto3 = "*"
aiofiles = "*"
xmltodict = "*"
pyhumps = "*"
requests = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
sqlalchemy-utils = "*"
fastapi-versioning = "*"
redis = "*"
opyoid = "*"
injector = "*"
orjson = "*"
alembic = "*"
sentry-sdk = "*"
fastapi-sqlalchemy = "*"
typing-extensions = "*"
huey = "*"
python-stdnum = "*"

[dev-packages]
pytest = "*"
fakeredis = "*"
flake8 = "*"
invoke = "*"
xmldiff = "*"
requests = "*"
pytest-frozen-uuids = "*"
pytest-pgsql = "*"
pytest-asyncio = "*"
pytest-xdist = "*"

[requires]
python_version = "3.10"
