# The codeowners of the Erica repository can be contacted if you have any questions regarding the code or if you
# want to propose any changes. Their review will also be requested if you open a pull request.
# The code owners for Erica are:
@frederike-ramin @VictorDelCampo @JulianRoesner